	/* spacing */
  $baselineheight : 1.5;
  $basespacingunit: 20px;
	

  /* font stacks */
  $serif					: "Georgia",Times New Roman,Times,serif;;
	$sans-serif			: "Helvetica Neue",Helvetica,Arial,sans-serif;
	$heading-font		: $sans-serif;
	$monospace      : Inconsolata, Monaco, Consolas, "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;


	/* font-sizes in ems based on 100% in body */
	$giga-size			: 3.25em;		//52px
	$mega-size			: 2.875em;	//46px
	$kilo-size			: 2.625em; 	//42px
	$h1-size				: 2.5em; 		//40px
	$h2-size				: 1.875em;  //30px
	$h3-size				: 1.5em;    //26px
	$h4-size				: 1.2em;		//22px
	$h5-size				: 1.2em;    //19px
	$h6-size				: 1.2em;		//19px
	$p-size					: 0.95em;   //15px
	$lead-size			: $p-size * 1.45; //22px
	$milli-size			: 0.9em; 		//14px 
	$micro-size			: 0.75em;		//12px 
	$blockquote-size: 2em;      //18px
	

	/* brand colour palette */
	$brand-alpha	: rgb(0,0,0);
	$brand-beta		: rgb(0,0,0);
	$brand-gamma	: rgb(0,0,0);

	
	/* links */
	$linkcol				: rgb(14,9,15);
	$linkcolhover		: darken($linkcol, 10);
	$linkcolvisited	: $linkcolhover;
	$linkcolfocus		: $linkcolhover;


	/* greyscale */
	$black				: rgb(0,0,0);
	$darkgrey			: rgb(26,26,26);
	$charcoalgrey	: rgb(51,51,51);
	$midgrey			: rgb(89,89,89);
	$softgrey			: rgb(119,119,119);
	$lightgrey		: rgb(238,238,238);
	$white				: rgb(255,255,255);
	$offwhite			: rgb(246,246,255);


	/* more colour palettes */	
	$alertcolor 	: rgb(252,248,227);
	$errorcolor 	: rgb(218,79,73);
	$dangercolor 	: rgb(218,79,73);
	$infocolor 		: rgb(217,237,247);
	$inverscolor 	: rgb(65,65,65);
	$successcolor 	: rgb(82,204,140); 
	$warningcolor 	: rgb(250,167,50);

